@model IEnumerable<CourseRegistrationProgram.Models.CoursesModel>

@{
    ViewData["Title"] = "Courses List";
}


<h2>Courses: </h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseNumber</td>
                <td>
                    <a asp-controller="Courses" asp-action="GetStudentsByCourse" asp-route-courseId="@item.CourseID">
                        @item.CourseName
                    </a>
                </td>
                <td>@item.CourseDescription</td>
            </tr>
        }
    </tbody>

</table>

