@model IEnumerable<CourseRegistrationProgram.Models.CoursesModel>

@{
    ViewData["Title"] = "Courses List";
}


<h2>Courses: </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>CourseNumber</th>
            <th>CourseName</th>
            <th>CourseDescription</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CourseNumber</td>
                <td>
                    <a asp-controller="Courses" asp-action="Index" asp-route-id="@item.CourseID">
                        @item.CourseName

                     </a>
                </td>
                <td>@item.CourseDescription</td>
            </tr>
        }
    </tbody>





</table>

